<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home" style="font-size:30px;"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html"><h4>BLOG</h4></a></li>
        <li><a href="{{ site.baseurl }}projects.html"><h4>PROJECTS</h4></a></li>
        <li><a href="https://resume.sitaramshelke.me"><h4>RESUME</h4></a></li>
        <li><a href="https://sitaramshelke.me/gsoc16/"><h4>GSoC16</h4></a></li>
      </ul>
    </div>
  </div>
</nav>
