<section id="projects">
  <div class="container">
    <h3>Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">

        <h5>1.
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://github.com/sitaramshelke/chuckmate">
              Chuckmate</a></strong><br>
          chukmate is a fun command line tool to read random Chuck Norris jokes from the internet. The motive was to
          understand npm publish process and to learn writing command lines apps.
        </h5>
        <h5>2.
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://github.com/sitaramshelke/pcp-mpstat">
              pcp-mpstat - Report CPU and Interrupt related statistics</a></strong><br>
          pcp-mpstat is <a href="http://pcp.io">pcp</a> version of mpstat, a popular linux command. It can be used to
          report different interrupt usage information as well as cpu usage information. It was a part of my GSoC16
          Project.
        </h5>

        <h5>3.
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://github.com/sitaramshelke/pcp-pidstat">
              pcp-pidstat - Report statistics for Linux tasks</a></strong><br>
          pcp-pistat is <a href="http://pcp.io">pcp</a> version of pidstat, a popular linux command. It can be used for
          monitoring individual tasks currently being managed by the Linux kernel. Using various options it helps user
          to see useful information related with the processes. This information can include percentage CPU, memory and
          stack usages, scheduling
          and priority information. It was a part of my GSoC16 Project.
        </h5>

        <h5>4.
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://canacopa.com"> Canacopa</a></strong><br>
          Canacopa aims to create interactive experiences for microlocations using beacon technology. It uses <a href="https://github.com/google/eddystone">Eddystone</a>
          - protocol specifications for transmitting the data using Bluetooth low energy. This was my final year
          engineering project, generously sponsored by <a href="http://makerville.io">Makerville Pvt. Ltd.</a>
        </h5>

        <h5>5.
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://retailrancho.github.io/"> Retail Rancho</a></strong><br>
          Retail Rancho was something that <i>we</i> built in 48 hrs at I-Hack hosted by IIT Bombay. It was an offline
          hackathon and we were required to demonstrate the applications of beacons in retail industry. We secured 2nd
          position.
        </h5>


        <!--
    <a href=""></a>
  -->
      </div>
    </div>
  </div>
</section>